/* Aplicar la font a tot el document */

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1; /* Assegura que el vídeo estigui darrere de tot el contingut */
}

body {
    font-family: 'Roboto Flex', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Assegura que no hi hagi scrollbars */
}

nav {
    display: block;
    padding: 20px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-end;
}

.button-nav:active {
    scale: 0.90;
}

.button-nav {
    border-radius: 15px;
    cursor: pointer;
    padding: 10px 20px;
    box-sizing: border-box;
    /* Assegura que la mida del border és la del botó */
}

/* Estils per a la versió clara */
.light {
    background-image: url(https://img.freepik.com/free-vector/winter-light-blue-gradient-background_53876-120755.jpg?t=st=1731340940~exp=1731344540~hmac=717ffacc38624ebe2fa4518395270bddd338aa5fabf234e323e6afbe34cd5a7d&w=1380);
    background-size: cover;
    background-position: center;
    color: #2b2b2bd5;
}

.light .button-nav {
    border: 1px solid aquamarine;
    background-color: rgb(234, 234, 234);
    color: rgb(26, 14, 14);
    font-weight: 700;
    transition: 0.8s;
    box-shadow: 0px 0px 60px #a3f1f1;
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}

.light .button-nav:hover {
    background: linear-gradient(270deg, rgba(232, 31, 31, 0.873) 0%, rgba(78, 2, 2, 0.681) 60%);
    color: rgb(255, 255, 255);
}

/* Estils per a la versió fosca */
.dark {
    background-image: url(https://xmple.com/wallpaper/linear-black-gradient-red-3840x2160-c2-020101-3c090e-a-165-f-14.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.dark .button-nav {
    border: 1px solid rgb(163, 0, 0);
    background-color: rgb(26, 14, 14);
    color: rgb(234, 234, 234);
    font-weight: 700;
    transition: 0.8s;
    box-shadow: 0px 0px 60px #651f1f;
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}

.dark .button-nav:hover {
    background: linear-gradient(270deg, rgba(78, 2, 2, 0.681) 0%, rgba(232, 31, 31, 0.873) 60%);
    color: rgb(255, 255, 255);
}

#background-lottie {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 300vh;
    z-index: -1; /* Fa que el fons estigui darrere del contingut */
    pointer-events: none; /* Permet que els clics passin al contingut */
}

#lottie-container {
    width: 100%;
    height: 150%;
    position: fixed;
    top: -50%;
    left: 0;
    z-index: -1; /* Assegura que l'animació estigui darrere de tot el contingut */
    pointer-events: none; /* Permet que els clics passin al contingut */
}

/* Estil d'exemple per al contingut */
.containerBody .content {
    position: relative;
    z-index: 1; /* Assegura que estigui a sobre de l'animació */
    color: white;
    text-align: center;
    padding-top: 20vh;
    font-size: 2rem;
}
